html {
    background-color: whitesmoke;
}
.a{
    background-color: rgb(26, 25, 38);
    height: 300px;
}
.dark {
    height:270px;
    padding: 20px 0px 20px 20px;
    width:400px;
    margin-left: 1100px;
    margin-top: 10px;
    margin-right: 0;
    padding:5px;
    border: 3px dashed rgb(47, 42, 60);
}

.header{
    color : white;
    position: absolute;
    font-size: 50px;
    font-stretch: expanded;
    top:100px;
    left: 300px;
    
}

.topic,li {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    color:gold;
    margin-left: 450px;
}

.topic{
    font-weight:bold;
}